@model bool

@if(Model)
{
<ul class="nav navbar-nav navbar-left">
    <!-- Выпадающий список -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Руководитель <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-controller="StructSubvisionChiefArm" asp-action="Oborudovanie" asp-route-id="" title="Материально-техническое обеспечение">Материально-техническое обеспечение</a></li>
            <li><a asp-controller="StructSubvisionChiefArm" asp-action="TeacherDisciplineNames" asp-route-id="" title="Перечень преподаваемых дисциплин">Преподаватели. Перечень преподаваемых дисциплин</a></li>
        </ul>
    </li>
</ul>
}
