@model KisVuzDotNetCore2.Models.Abitur.AdmissionPrivilegeType

@{
    ViewData["Title"] = "Добавление";
}

<h2>Добавление типа льготы при поступлении</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdmissionPrivilegeTypeName" class="control-label"></label>
                <input asp-for="AdmissionPrivilegeTypeName" class="form-control" />
                <span asp-validation-for="AdmissionPrivilegeTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>