@model KisVuzDotNetCore2.Models.Sveden.PomeshenieType

@{
    ViewData["Title"] = "Удалить тип помещения";
}

<h3>Удалить тип помещения?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PomeshenieTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PomeshenieTypeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PomeshenieTypeId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
