@model KisVuzDotNetCore2.Models.UchPosobiya.UchPosobieDisciplineName

@{
    ViewData["Title"] = "Добавить данные об учебном пособии и дисциплине";
}

<h2>Добавить данные об учебном пособии и дисциплине</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UchPosobieId" class="control-label"></label>
                <select asp-for="UchPosobieId" class ="form-control" asp-items="ViewBag.UchPosobieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DisciplineNameId" class="control-label"></label>
                <select asp-for="DisciplineNameId" class ="form-control" asp-items="ViewBag.DisciplineNameId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отменить</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
