@model KisVuzDotNetCore2.Models.FileModel

@{
    ViewData["Title"] = "Редактирование сведений о файле";
    List<FileDataTypeGroup> fileDataTypeGroups = (List<FileDataTypeGroup>)ViewData["fileDataTypeGroups"];
}

<h2>Редактирование</h2>

<h4>Сведения о файле</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" disabled />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadDate" class="control-label"></label>
                <input asp-for="UploadDate" class="form-control" disabled />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentType" class="control-label"></label>
                <input asp-for="ContentType" class="form-control" />
                <span asp-validation-for="ContentType" class="text-danger"></span>
            </div>
            
            <table class="table">
            @foreach (var fileDataTypeGroup in fileDataTypeGroups)
            {                
                <tr class="well">
                        <td colspan="2"><strong>@fileDataTypeGroup.FileDataTypeGroupName</strong></td>
                    </tr>
                    @foreach (var fileDataType in fileDataTypeGroup.FileDataTypes.Where(f => f.FileDataTypeGroupId == fileDataTypeGroup.FileDataTypeGroupId))
                    {                        
                        // Определяем, выбран ли текущий тип файлов
                        bool IsChecked = fileDataType.FileToFileTypes.Where(ftf => ftf.FileModelId == Model.Id).Any();
                        
                        <tr>
                            <td>@fileDataType.FileDataTypeName</td>
                            <td>
                                <input type="checkbox" name="SelectedFileDataTypeIds" value="@fileDataType.FileDataTypeId"
                                     @{ 
                                         if(IsChecked)
                                         {
                                             @: checked
                                         }
                                     }  
                                       />
                            </td>
                        </tr>
                     }
            }
            </table>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
