@model KisVuzDotNetCore2.Models.Nir.ArticleAuthor

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ArticleAuthor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArticleAuthorId" />
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleId" class="control-label"></label>
                <select asp-for="ArticleId" class="form-control" asp-items="ViewBag.ArticleId"></select>
                <span asp-validation-for="ArticleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorPart" class="control-label"></label>
                <input asp-for="AuthorPart" class="form-control" />
                <span asp-validation-for="AuthorPart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

