@model KisVuzDotNetCore2.Models.LMS.LmsEvent

@{
    ViewData["Title"] = "Создание";
}

    <h2>Создание мероприятия</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLmsEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="LmsEventTypeId" class="control-label"></label>
                <select asp-for="LmsEventTypeId" class="form-control" asp-items="ViewBag.LmsEventTypes"></select>
                <span asp-validation-for="LmsEventTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebLink" class="control-label"></label>
                <input asp-for="WebLink" class="form-control" />
                <span asp-validation-for="WebLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeStart" class="control-label"></label>
                <input asp-for="DateTimeStart" class="form-control" />
                <span asp-validation-for="DateTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsLmsEventStartedManual" /> @Html.DisplayNameFor(model => model.IsLmsEventStartedManual)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>