@model KisVuzDotNetCore2.Models.Abitur.ConsentToEnrollment

@{
    ViewData["Title"] = "Редактирование";
}

<h2>Редактирование заявления о согласии на зачисление</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationForAdmissionId" class="control-label"></label>
                <select asp-for="ApplicationForAdmissionId" class="form-control" asp-items="ViewBag.ApplicationForAdmissions"></select>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="FileModelId"></label>
                @if (Model.FileModel == null)
                {
                    <label class="control-label">Выберите файл, содержащий скан-копию заполненного заявления о согласии на зачисление: </label>
                }
                else
                {
                    <label class="control-label">                        
                        Для замены <a href="/@Model.FileModel.Path" target="_blank">загруженного</a>  файла выберите файл, содержащий скан-копию заполненного заявления о согласии на зачисление: 
                    </label>
                }

                <input type="file" name="uploadedFile" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RowStatusId" class="control-label"></label>
                <select asp-for="RowStatusId" class="form-control" asp-items="ViewBag.RowStatuses"></select>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ConsentToEnrollmentId" />
                <input type="hidden" asp-for="FileModelId" />
                <input type="hidden" asp-for="RowStatusId" />
                <input type="hidden" asp-for="ChangingDateTime" />
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>