@model KisVuzDotNetCore2.Models.Users.UserWork

@{
    ViewData["Title"] = "Добавление";
}

<h2>Добавление</h2>

<h4>Работа пользователя</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserWorkTypeId" class="control-label"></label>
                <select asp-for="UserWorkTypeId" class="form-control" asp-items="ViewBag.UserWorkTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserWorkName" class="control-label"></label>
                <input asp-for="UserWorkName" class="form-control" />
                <span asp-validation-for="UserWorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserWorkDescription" class="control-label"></label>
                <input asp-for="UserWorkDescription" class="form-control" />
                <span asp-validation-for="UserWorkDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileModelId" class="control-label"></label>
                <input type="file" name="uploadedFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" name="AppUserId" value="@ViewBag.AppUserId" />
                <input type="hidden" name="DatePosting" value="@DateTime.Now" />
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>