@model KisVuzDotNetCore2.Models.Struct.Telephone

@{
    ViewData["Title"] = "Удалить телефон?";
}

<h2>Удалить телефон?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelephoneComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelephoneComment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TelephoneId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default" >Отмена</a>
    </form>
</div>
