@model KisVuzDotNetCore2.Models.Education.EduPlanEduVidDeyat

@{
    ViewData["Title"] = "Удалить";
}


<h3>Удалить вид деятельности по учебному плану?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduPlan.EduPlanDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduVidDeyat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduVidDeyat.EduVidDeyatName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EduPlanEduVidDeyatId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
