@model KisVuzDotNetCore2.Models.Priem.BlankNum

@{
    ViewData["Title"] = "Изменить количество поданных заявлений о приеме";
}

<h2>Изменить количество поданных заявлений о приеме</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlankNumId" />
            <div class="form-group">
                <label asp-for="EduNapravl.EduNapravlName" class="control-label"></label>
                <select asp-for="EduNapravlId" class="form-control" asp-items="ViewBag.EduNapravlId"></select>
                <span asp-validation-for="EduNapravlId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Och" class="control-label"></label>
                <input asp-for="Och" class="form-control" />
                <span asp-validation-for="Och" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zaoch" class="control-label"></label>
                <input asp-for="Zaoch" class="form-control" />
                <span asp-validation-for="Zaoch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OchZaoch" class="control-label"></label>
                <input asp-for="OchZaoch" class="form-control" />
                <span asp-validation-for="OchZaoch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
