@model KisVuzDotNetCore2.Models.Sveden.ElectronBiblSystem

@{
    ViewData["Title"] = "Добавить";
}

<h2>Добавить ЭБС</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameEbs" class="control-label"></label>
                <input asp-for="NameEbs" class="form-control" />
                <span asp-validation-for="NameEbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkEbs" class="control-label"></label>
                <input asp-for="LinkEbs" class="form-control" />
                <span asp-validation-for="LinkEbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberDogovor" class="control-label"></label>
                <input asp-for="NumberDogovor" class="form-control" />
                <span asp-validation-for="NumberDogovor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnd" class="control-label"></label>
                <input asp-for="DateEnd" class="form-control" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <label class="control-label">Сканированная копия договора в формате pdf</label>                
                <input type="file" name="uploadedFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отменить</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
