@model KisVuzDotNetCore2.Models.Struct.Fax

@{
    ViewData["Title"] = "Удалить факс?";
}

<h2>Удалить факс?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FaxValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaxValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FaxComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FaxComment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FaxId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
