@model KisVuzDotNetCore2.Models.NirTema

@{
    ViewData["Title"] = "Подробнее о теме НИР";
}

<h2>Подробнее о теме НИР</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NirTemaName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NirTemaName)
        </dd>
        <dt>
            Профили подготовки
        </dt>
        <dd>
            <ul>
                @foreach (var NirTemaEduProfile in Model.NirTemaEduProfileList)
                {
                    <li>@NirTemaEduProfile.EduProfile.GetEduProfileFullName</li>
                }
            </ul>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NirTemaId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-default">Отмена</a>
</div>
