@model KisVuzDotNetCore2.Models.NirTema

@{
    ViewData["Title"] = "Редактировать тему НИР";
    List<EduProfile> eduProfiles = (List<EduProfile>)ViewData["EduProfiles"];
}

<h2>Редактировать тему НИР</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NirTemaId" />
            <div class="form-group">
                <label asp-for="NirTemaName" class="control-label"></label>
                <input asp-for="NirTemaName" class="form-control" />
                <span asp-validation-for="NirTemaName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Профили подготовки</label>
                @foreach (var eduProfile in eduProfiles)
                {
                    string Checked = "";
                    @foreach (var nirTemaEduProfileListChoosed in Model.NirTemaEduProfileList)
                    {
                        if (eduProfile.EduProfileId == nirTemaEduProfileListChoosed.EduProfileId)
                        {
                            Checked = "checked";
                            break;
                        }
                    }
                    <br /><input type="checkbox" @Checked name="EduProfileIds" value="@eduProfile.EduProfileId" /> @eduProfile.GetEduProfileFullName
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>