@model KisVuzDotNetCore2.Models.Nir.ScienceJournalCitationBase

@{
    ViewData["Title"] = "Удалить соответствие Научный журнал - База Цитирования?";
}

<h2>Удалить соответствие Научный журнал - База Цитирования?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CitationBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CitationBase.CitationBaseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScienceJournal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScienceJournal.ScienceJournalName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ScienceJournalCitationBaseId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
