@model KisVuzDotNetCore2.Models.Nir.ScienceJournalCitationBase

@{
    ViewData["Title"] = "Редактировать соответствие Научный журнал - База Цитирования";
}

<h2>Редактировать соответствие Научный журнал - База Цитирования</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScienceJournalCitationBaseId" />
            <div class="form-group">
                <label asp-for="ScienceJournalId" class="control-label"></label>
                <select asp-for="ScienceJournalId" class="form-control" asp-items="ViewBag.ScienceJournalId"></select>
                <span asp-validation-for="ScienceJournalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitationBaseId" class="control-label"></label>
                <select asp-for="CitationBaseId" class="form-control" asp-items="ViewBag.CitationBaseId"></select>
                <span asp-validation-for="CitationBaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>