@model KisVuzDotNetCore2.Models.Education.FormKontrolName

@{
    ViewData["Title"] = "Удалить";
}


<h3>Удалить форму контроля?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormKontrolNameName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormKontrolNameName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FormKontrolNameId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отменить</a>
    </form>
</div>
