@model KisVuzDotNetCore2.Models.Education.EduNapravl

@{
    ViewData["Title"] = "Редактирование";
}

<h2>Редактирование направления подготовки / специальности</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EduNapravlId" />
            <div class="form-group">
                <label asp-for="EduUgs.EduUgsName" class="control-label"></label>
                <select asp-for="EduUgsId" class="form-control" asp-items="ViewBag.EduUgsId"></select>
                <span asp-validation-for="EduUgsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduNapravCode" class="control-label"></label>
                <input asp-for="EduNapravCode" class="form-control" />
                <span asp-validation-for="EduNapravCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduNapravName" class="control-label"></label>
                <input asp-for="EduNapravName" class="form-control" />
                <span asp-validation-for="EduNapravName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduNapravlStandartDocLink" class="control-label"></label>
                <input asp-for="EduNapravlStandartDocLink" class="form-control" />
                <span asp-validation-for="EduNapravlStandartDocLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
