@model KisVuzDotNetCore2.Models.Sveden.EduOPEduYearName

@{
    ViewData["Title"] = "Добавление";
}

<h2>Добавить год обучения</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EduOPEduYearNameName" class="control-label"></label>
                <input asp-for="EduOPEduYearNameName" class="form-control" />
                <span asp-validation-for="EduOPEduYearNameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>


