@model IEnumerable<KisVuzDotNetCore2.Models.Education.BlokDisciplName>

@{
    ViewData["Title"] = "Наименование блока дисциплин";
}

<h2>Наименование блока дисциплин</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BlokDisciplNameName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlokDisciplNameName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlokDisciplNameId">Редактировать  </a> |                
                <a asp-action="Delete" asp-route-id="@item.BlokDisciplNameId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
