@{
    ViewData["Title"] = "About";
}

<h1>Корпоративная информационная система</h1>
<hr />
<p>Система разработана для повышения эффективности информационного обмена внутри института и представления информации об образовательной организации в открытых источниках с учетом соблюдения требований законодательства в сфере образования для образовательных организаций высшего образования.</p>
<hr />
<h4>Доступ разрешён только зарегистрированным пользователям</h4>
<p>По вопросам регистрации обращаться:</p>
<ul>
    <li>к кураторам (для студентов)</li>
    <li>к администраторам (для сотрудников)</li>
</ul>
