@{
    ViewData["Title"] = "Контакты";
}

<h2>Азово-Черноморский инженерный институт ФГБОУ ВО Донской ГАУ</h2>
<h4>Официальный сайт: <a href="http://ачгаа.рф">http://ачгаа.рф</a></h4>

<address>
    347740 Ростовская область,<br />
    г. Зерноград, ул. Ленина 21<br />
    Тел.: 8 (86359) 43-3-80<br />    
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1364.398143890732!2d40.30809850088428!3d46.847699992625444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa44fba686db85a22!2z0JDQp9CT0JDQkA!5e0!3m2!1sru!2sru!4v1532928168611" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
