@{
    ViewData["Title"] = "АЧИИ";
}

<h1>Электронная информационно-образовательная среда</h1>
<hr />
@*@if (string.IsNullOrWhiteSpace(User.Identity.Name))
{
    <h4>Доступ разрешён только зарегистрированным пользователям</h4>
    <p>По вопросам регистрации обращаться:</p>
    <ul>
        <li>к кураторам (для студентов)</li>
        <li>к администраторам (для сотрудников)</li>
    </ul>
}
else
{
    <h4>Добро пожаловать!</h4>
}*@

<p>Электронная информационно-образовательная среда (ЭИОС) представляет собой совокупность информационных технологий,
    телекоммуникационных технологий, соответствующих технологических средств, электронных информационных и образовательных ресурсов,
    необходимых для организации опосредованного (на расстоянии) взаимодействия студентов с педагогическим, учебно-вспомогательным,
    административно-хозяйственным персоналом, а также между собой.
</p>

<p>Электронная информационно-образовательная среда предназначена для:</p>
<ul>
    <li>организации образовательного процесса по реализуемым образовательным программам ВО, ВПО, ДПО и СПО</li>
    <li>обеспечения доступа обучающихся и сотрудников, независимо от места их нахождения, к электронным информационным ресурсам, электронным образовательным ресурсам посредством использования информационно-телекоммуникационных технологий и сервисов</li>
    <li>обеспечения индивидуализации образовательного процесса обучающегося</li>
    <li>повышения эффективности и качества образовательного процесса</li>
    <li>формирования электронного портфолио обучающихся, в том числе сохранение работ обучающихся, рецензий и оценок на эти работы со стороны любых участников образовательного процесса</li>
</ul>