@{
    ViewData["Title"] = "АЧИИ";
}

<h1>Корпоративная информационная система</h1>
<hr />
@if (string.IsNullOrWhiteSpace(User.Identity.Name))
{
    <h4>Доступ разрешён только зарегистрированным пользователям</h4>
    <p>По вопросам регистрации обращаться:</p>
    <ul>
        <li>к кураторам (для студентов)</li>
        <li>к администраторам (для сотрудников)</li>
    </ul>
}
else
{
    <h4>Добро пожаловать!</h4>
}

