<ul class="nav navbar-nav navbar-left">
    @if (User.IsInRole("Администраторы"))
    {    
    <!-- Выпадающий список: Настройки -->
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Настройки <b class="caret"></b></a>
        <ul class="dropdown-menu">

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Структура <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="StructUniversities" asp-action="Index">Университеты</a></li>
                    <li><a asp-controller="StructInstitutes" asp-action="Index">Институты</a></li>
                    <li><a asp-controller="StructFacultets" asp-action="Index">Факультеты</a></li>
                    <li><a asp-controller="StructKafs" asp-action="Index">Кафедры</a></li>
                    <li><a asp-controller="StructSubvisions" asp-action="Index">Структурные подразделения</a></li>
                    <li><a asp-controller="StructSubvisionTypes" asp-action="Index">Типы структурных подразделений</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Файлы <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="FileDataTypeGroups" asp-action="Index">Группы типов файлов</a></li>
                    <li><a asp-controller="FileDataTypes" asp-action="Index">Типы файлов</a></li>
                    <li><a asp-controller="Files" asp-action="Index">Файлы</a></li>
                    <li><a asp-controller="FileToFileTypes" asp-action="Index">Сопоставление файлов типам файлов</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Общие настройки <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="RowStatus" asp-action="Index">Статусы записей</a></li>
                    <li><a asp-controller="Addresses" asp-action="Index">Адреса</a></li>
                    <li><a asp-controller="Posts" asp-action="Index">Должности</a></li>
                    <li><a asp-controller="Emails" asp-action="Index">Адреса электронной почты</a></li>
                    <li><a asp-controller="Telephones" asp-action="Index">Телефоны</a></li>
                    <li><a asp-controller="Faxes" asp-action="Index">Факсы</a></li>
                    <li><a asp-controller="AcademicDegreeGroups" asp-action="Index">Группы учёных степеней</a></li>
                    <li><a asp-controller="AcademicDegrees" asp-action="Index">Учёные степени</a></li>
                    <li><a asp-controller="AcademicStats" asp-action="Index">Учёные звания</a></li>
                    <li><a asp-controller="LinkTypes" asp-action="Index">Типы веб-ресурсов</a></li>
                    <li><a asp-controller="InstituteLinks" asp-action="Index">Веб-ресурсы институтов</a></li>
                    <li><a asp-controller="Years" asp-action="Index">Годы</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Образование <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Образовательные программы<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="EduPrograms" asp-action="Index">Перечень образовательных программ</a></li>
                            <li><a asp-controller="EduProgramEduForms" asp-action="Index">Перечень образовательных программ - Формы обучения</a></li>
                            <li><a asp-controller="EduProgramEduYears" asp-action="Index">Перечень образовательных программ - Учебные годы</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Учебные планы<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="EduPlans" asp-action="Index">Перечень учебных планов</a></li>
                            <li><a asp-controller="BlokDiscipls" asp-action="Index" asp-route-id="">Блоки дисциплин</a></li>
                            <li><a asp-controller="BlokDisciplChasts" asp-action="Index">Части блоков дисциплин</a></li>
                            <li><a asp-controller="Disciplines" asp-action="Index">Дисциплины</a></li>
                            <li><a asp-controller="DisciplineNames" asp-action="Index">Дисциплины (справочник)</a></li>
                            <li><a asp-controller="EduPlanEduVidDeyats" asp-action="Index">Добавление видов деятельности к учебному плану</a></li>
                            <li><a asp-controller="EduPlanEduYearBeginningTrainings" asp-action="Index">Добавление годов начала подготовки к учебному плану</a></li>
                            <li><a asp-controller="EduPlanEduYears" asp-action="Index">Добавление учебных годов к учебному плану</a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="EduShedules" asp-action="Index" asp-route-id="">Календарные учебные графики</a></li>
                    <li><a asp-controller="EduAnnotations" asp-action="Index" asp-route-id="">Аннотации к рабочим программам</a></li>
                    <li><a asp-controller="RabPrograms" asp-action="Index" asp-route-id="">Рабочие программы</a></li>
                    <li><a asp-controller="FondOcenochnihSredstvs" asp-action="Index" asp-route-id="">Фонды оценочных средств</a></li>
                    <li class="divider"></li>
                    <li><a asp-controller="EduLevelGroups" asp-action="Index" asp-route-id="">Группы уровней образования</a></li>
                    <li><a asp-controller="EduLevels" asp-action="Index" asp-route-id="">Уровни образования</a></li>
                    <li><a asp-controller="EduUgses" asp-action="Index" asp-route-id="">Укрупнённые группы специальностей</a></li>
                    <li><a asp-controller="EduNapravls" asp-action="Index" asp-route-id="">Направления подготовки / специальности</a></li>
                    <li><a asp-controller="EduProfiles" asp-action="Index" asp-route-id="">Профили подготовки / направленности / специализации</a></li>
                    <li class="divider"></li>
                    <li><a asp-controller="EduForms" asp-action="Index">Формы обучения</a></li>
                    <li><a asp-controller="EduYears" asp-action="Index">Учебные годы</a></li>
                    <li><a asp-controller="EduKurses" asp-action="Index">Курсы</a></li>
                    <li><a asp-controller="SemestrNames" asp-action="Index">Семестры</a></li>
                    <li><a asp-controller="EduYearBeginningTrainings" asp-action="Index">Годы начала подготовки</a></li>
                    <li><a asp-controller="BlokDisciplNames" asp-action="Index">Блок дисциплин Учебного плана</a></li>
                    <li><a asp-controller="FormKontrolNames" asp-action="Index">Формы контроля</a></li>
                    <li><a asp-controller="EduProgramPodgs" asp-action="Index">Программы подготовки</a></li>
                    <li><a asp-controller="VidUchebRabotis" asp-action="Index">Виды учебной деятельности</a></li>
                    <li><a asp-controller="EduVidDeyats" asp-action="Index">Виды деятельности по учебному плану</a></li>
                    <li><a asp-controller="BlokDisciplChastNames" asp-action="Index">Наименование части блока дисциплин Учебного плана</a></li>
                    <li><a asp-controller="EduSroks" asp-action="Index">Сроки обучения</a></li>
                    <li><a asp-controller="EduQualifications" asp-action="Index">Квалификация</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Выпуск и трудоустройство<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="GraduateYears" asp-action="Index">Годы выпуска (справочник)</a></li>
                            <li><a asp-controller="EduGraduates" asp-action="Index">Выпуск (результаты защиты ВКР)</a></li>
                            <li><a asp-controller="GraduateTrudoustroustvo" asp-action="Index">Трудоустройство</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сведения об обр. орг-ции <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Основные сведения <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="StructInstitutes" asp-action="Index">Институты</a></li>
                            <li><a asp-controller="Telephones" asp-action="Index">Телефоны</a></li>
                            <li><a asp-controller="Faxes" asp-action="Index">Факсы</a></li>
                            <li><a asp-controller="UchredLaws" asp-action="Index">Сведения об учредителях</a></li>
                            <li><a asp-controller="FilInfoes" asp-action="Index">Сведения о филиалах</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Структура и органы управления обр. орг. <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="StructSubvisions" asp-action="Index">Структурные подразделения</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Документы <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="UstavObrazovatelnoyOrganizatsii">Устав образовательной организации</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="LicenziyaNaOsushestvlenieObrazovatelnoyDeyatelnosti">Лицензия на осуществление образовательной деятельности</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="SvidetelstvoOGosudarstvennoyAccreditatsii">Свидетельство о государственной аккредитации (с приложениями). Шаг 1</a></li>
                            <li><a asp-controller="EduAccreds" asp-action="Index">Свидетельство о государственной аккредитации (с приложениями). Шаг 2</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="PlanFinansovoHozyaystvennoyDeyatelnosti">План финансово-хозяйственной деятельности образовательной организации</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="LocalnieNormativnieActiReglamentiruyushiePravilaPriemaObuchaushihsya">Локальные нормативные акты, регламентирующие правила приема обучающихся</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="LocalnieNormativnieActiReglamentiruyushieRejimZanyatiyObuchaushihsya">Локальные нормативные акты, регламентирующие режим занятий обучающихся</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="LocalnieNormativnieActiReglamentiruyushieTekushiyKontrolIPromAttestObuchaushihsya">Локальные нормативные акты, регламентирующие формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="LocalnieNormativnieActiReglamentiruyushiePerevodOtchislenieIVosstanovlenieObuchaushihsya">Локальные нормативные акты, регламентирующие порядок и основания перевода, отчисления и восстановления обучающихся</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="LocalnieNormativnieActiReglamentiruyushieOtnosheniyaSNesovershennoletnimiObuchayushimisya">Локальные нормативные акты, регламентирующие порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией, обучающимися и (или) родителями (законными представителями) несовершеннолетних обучающихся</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="PravilaVnutrennegoRasporyadkaObuchaushihsya">Правила внутреннего распорядка обучающихся</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="PravilaVnutrennegoTrudovogoRasporyadka">Правила внутреннего трудового распорядка</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="KollektivniyDogovor">Коллективный договор</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="OtchetORezultatahSamoobsledovaniya">Отчет о результатах самообследования</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="PoryadokOkazaniyaPlatnihObrazovatelnihUslug">Документ о порядке оказания платных образовательных услуг</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="ObrazecDogovoraObOkazaniiPlatnihObrazovatelnihUslug">Образец договора об оказании платных образовательных услуг</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="DocumentObUtverjdeniiStoimostiObucheniya">Документ об утверждении стоимости обучения по каждой образовательной программе</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="PredpisaniyaOrganovNadzora">Предписания органов, осуществляющих государственный контроль (надзор) в сфере образования</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="OtchetiObIspolneniiPredpisaniyOrganovNadzora">Отчеты об исполнении предписаний органов, осуществляющих государственный контроль (надзор) в сфере образования</a></li>
                            <li class="divider"></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="PolojenOStructPodrazd">Положения о структурных подразделениях</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Образование <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="EduChislens" asp-action="Index">Численность обучающихся по реализуемым образовательным программам</a></li>
                            <li><a asp-controller="priemKolTargets" asp-action="Index">Информация о количестве мест для приема на обучение по различным условиям поступления</a></li>
                            <li><a asp-controller="EduPriems" asp-action="Index">Результаты приема</a></li>
                            <li><a asp-controller="EduPerevods" asp-action="Index" asp-route-id="">Информация о результатах перевода, восстановления и отчисления</a></li>
                            <li><a asp-controller="EduOPEduYearNames" asp-action="Index" asp-route-id="">Вспомогательная таблица выбора годов обучения</a></li>
                            <li><a asp-controller="EduOPYears" asp-action="Index" asp-route-id="">Образовательная программа (объём программы по годам)</a></li>
                            <li><a asp-controller="EduPrs" asp-action="Index" asp-route-id="">Образовательная программа (наличие практики)</a></li>
                            <li><a asp-controller="EduNir" asp-action="Index" asp-route-id="">Образовательная программа (направления и результаты НИР)</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Образовательные стандарты <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="EduNapravls" asp-action="Index" asp-route-id="">Направления подготовки / специальности</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Руководство. Педагогический состав <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Rucovodstvo" asp-action="Index">Руководство института</a></li>
                            <li><a asp-controller="RucovodstvoFils" asp-action="Index">Руководители филиалов</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">МТО и оснащенность обр. процесса <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="PurposeLibrs" asp-action="Index">Сведения о наличии библиотек, объектов спорта, условиях питания и охраны здоровья обучающихся</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Стипендии и иные виды мат. поддержки <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="StipendiiFederalGrant">Федеральные нормативные акты, регламентирующие наличие и условия предоставления стипендии</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="StipendiiLocalGrant">Локальные нормативные акты, регламентирующие наличие и условия предоставления стипендии</a></li>
                            <li><a asp-controller="HostelInfoes" asp-action="Index" title="Наличие общежития, интерната, количество жилых помещений">Наличие общежития, интерната...</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Платные образовательные услуги <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="ObrazecDogovoraObOkazaniiPlatnihObrazovatelnihUslug">Образец договора об оказании платных образовательных услуг</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="DocumentObUtverjdeniiStoimostiObucheniya">Документ об утверждении стоимости обучения по каждой образовательной программе</a></li>
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="PoryadokOkazaniyaPlatnihObrazovatelnihUslug">Документ о порядке оказания платных образовательных услуг</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Финансово-хозяйственная деятельность <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Volumes" asp-action="Index">Финансово-хозяйственная деятельность</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вакантные места для приёма (перевода) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Vacants" asp-action="Index">Вакантные места для приема (перевода)</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сотрудники <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Teachers" asp-action="Index" asp-route-id="">Преподаватели</a></li>
                    <li><a asp-controller="TeacherDisciplines" asp-action="Index" asp-route-id="">Закрепление преподавателей за уч. дисциплинами в уч. году (по уч. плану)</a></li>
                    <li><a asp-controller="TeacherEduProfileDisciplineNames" asp-action="Index" asp-route-id="">Преподаватели. Направления - дисциплины (useless)</a></li>
                    <li><a asp-controller="TeacherStructKafPostStavka" asp-action="Index" asp-route-id="">Преподаватель - Кафедра - Должность - Ставка - Дата установления ставки</a></li>
                    <li><a asp-controller="Qualifications" asp-action="Index" asp-route-id="">Квалификации</a></li>
                    <li><a asp-controller="RefresherCourses" asp-action="Index">Курсы повышения квалификации</a></li>
                    <li><a asp-controller="ProfessionalRetrainings" asp-action="Index">Профессиональная переподготовка</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Студенты и успеваемость <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Студенты и группы<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Students" asp-action="Index">Студенты</a></li>
                            <li><a asp-controller="StudentGroups" asp-action="Index">Студенческие группы</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ведомости<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="VedomostStudentMarkNames" asp-action="Index">Наименования отметок по ведомости (справочник)</a></li>
                            <li><a asp-controller="Vedomosti" asp-action="Index">Ведомости</a></li>
                            <li><a asp-controller="VedomostStudentMarks" asp-action="Index">Отметки по ведомостям</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Электронная информационно-образовательная среда <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="ElectronBiblSystems" asp-action="Index">Электронные библиотечные системы</a></li>
                    <li><a asp-controller="ElectronCatalogs" asp-action="Index">База данных электронного каталога</a></li>
                    <li><a asp-controller="ElectronObrazovatInformRes" asp-action="Index">Электронные образовательные и информационные ресурсы</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Материально-техническое обеспечение <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Korpus" asp-action="Index" asp-route-id="">Перечень корпусов</a></li>
                    <li><a asp-controller="Pomeshenies" asp-action="Index" asp-route-id="">Перечень помещений</a></li>
                    <li><a asp-controller="PomeshenieTypepomesheniyas" asp-action="Index" asp-route-id="">Помещение-Тип помещения</a></li>
                    <li><a asp-controller="PomeshenieTypes" asp-action="Index" asp-route-id="">Типы помещений (справочник)</a></li>
                    <li><a asp-controller="Oborudovanies" asp-action="Index" asp-route-id="">Перечень оборудования</a></li>
                    <li><a asp-controller="DisciplinePomeshenies" asp-action="Index" asp-route-id="">Закрепление помещений за дисциплинами по уч. плану в уч. году</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Учебные пособия <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Authors" asp-action="Index" asp-route-id="">Справочник авторов учебных пособий</a></li>
                    <li><a asp-controller="UchPosobies" asp-action="Index" asp-route-id="">Учебное пособие</a></li>
                    <li><a asp-controller="UchPosobieAuthors" asp-action="Index" asp-route-id="">Связь между Uchposobie (учебное пособие) и Author (автор)</a></li>
                    <li><a asp-controller="UchPosobieDisciplineNames" asp-action="Index" asp-route-id="">Связь между UchPosobie (учебное пособие) и  DisciplineName (наименование дисциплины)</a></li>
                    <li><a asp-controller="UchPosobieEduForms" asp-action="Index" asp-route-id="">Связь между UchPosobie (учебное пособие) и  EduForm (форма обучения)</a></li>
                    <li><a asp-controller="UchPosobieEduNapravls" asp-action="Index" asp-route-id="">Связь между UchPosobie (учебными пособиями) и EduNapravl (направлениями)</a></li>
                    <li><a asp-controller="UchPosobieFormaIzdaniyas" asp-action="Index" asp-route-id="">Справочник "Форма издания учебного пособия"</a></li>
                    <li><a asp-controller="UchPosobieVids" asp-action="Index" asp-route-id="">Справочник "Вид учебного пособия"</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Научно-исследовательская работа<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="NirTemas" asp-action="Index">Темы НИР</a></li>
                    <li><a asp-controller="NirTemaEduProfiles" asp-action="Index">Тема НИР - профиль подготовки</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Работы пользователей, их рецензии и оценки<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="UserWorks" asp-action="Index">Работы пользователей</a></li>
                    <li><a asp-controller="UserWorkReviews" asp-action="Index">Рецензии и оценки работ пользователей</a></li>
                    <li class="divider"></li>
                    <li><a asp-controller="UserWorkTypes" asp-action="Index">Типы пользовательских работ</a></li>
                    <li><a asp-controller="UserWorkReviewMarks" asp-action="Index">Справочник оценок за пользовательские работы</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Методкомиссии<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="MetodKomissii" asp-action="Index">Перечень методкомиссий</a></li>
                    <li><a asp-controller="MetodKomissiyaEduProfiles" asp-action="Index">Методкомиссия - Профиль подготовки</a></li>
                    <li><a asp-controller="TeacherMetodKomissiya" asp-action="Index">Методкомиссия - Преподаватели</a></li>
                </ul>
            </li>
        </ul>
    </li>

 <!-- Выпадающий список: Администрирование -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Администрирование<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="UserAdmin" asp-action="Index">Пользователи</a></li>            
            <li><a asp-area="" asp-controller="RoleAdmin" asp-action="Index">Роли</a></li>
            <li><a asp-area="" asp-controller="AppSettings" asp-action="Index">Настройки приложения</a></li>
        </ul>
    </li>
    }
</ul>
