<ul class="nav navbar-nav navbar-left">
    @if (User.IsInRole("Администраторы СДО"))
    {

        <!-- Выпадающий список: Администраторы СДО -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Администраторы СДО<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a asp-area="" asp-controller="LmsTasks" asp-action="Index">Банк заданий</a></li>
                <li><a asp-area="" asp-controller="LmsTaskSets" asp-action="Index">Наборы заданий</a></li>
                <li><a asp-area="" asp-controller="LmsEventLmsTaskSetAppUserAnswersCheck" asp-action="Index">Проверка ответов пользователей</a></li>
                <li><a asp-area="" asp-controller="EntranceTestRegistrationForms" asp-action="Index">Бланки регистрации на вступительные испытания</a></li>
            </ul>
        </li>
    }
</ul>
