@{
    bool IsDekanatEmployee=false;
    int structFacultetId = 0;
    // Определяем, является ли пользователь сотрудником деканата. И если "да", то какого
    if (User.IsInRole("Деканат факультета ЭиУТ"))
    {
        IsDekanatEmployee = true;
        structFacultetId = (int)StructFacultetEnum.Econom;
    }
    else if (User.IsInRole("Деканат факультета СПО"))
    {
        IsDekanatEmployee = true;
        structFacultetId = (int)StructFacultetEnum.Spo;
    }
    else if ( User.IsInRole("Деканат инженерно-технологического факультета"))
    {
        IsDekanatEmployee = true;
        structFacultetId = (int)StructFacultetEnum.InjTech;
    }
    else if ( User.IsInRole("Деканат энергетического факультета"))
    {
        IsDekanatEmployee = true;
        structFacultetId = (int)StructFacultetEnum.Energ;
    }
}

@if (User.IsInRole("Деканат факультета ЭиУТ")
    || User.IsInRole("Деканат факультета СПО")
    || User.IsInRole("Деканат инженерно-технологического факультета")
    || User.IsInRole("Деканат энергетического факультета"))
{
<ul class="nav navbar-nav navbar-left">
    <!-- Выпадающий список -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Деканат <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Студенты и группы<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Students" asp-action="Index">Студенты</a></li>
                    <li><a asp-controller="StudentGroups" asp-action="Index">Студенческие группы</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ведомости<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="VedomostStudentMarkNames" asp-action="Index">Наименования отметок по ведомости (справочник)</a></li>
                    <li><a asp-controller="Vedomosti" asp-action="Index">Ведомости</a></li>
                    <li><a asp-controller="VedomostStudentMarks" asp-action="Index">Отметки по ведомостям</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
}
