@using Microsoft.EntityFrameworkCore
@inject AppIdentityDBContext _context

@{
    bool IsKurator = false;
    int structFacultetId = 0;
    // Определяем, является ли пользователь куратором.
    if (User.Identity.IsAuthenticated)
    {
        var user = await _context.Users
            .Include(u => u.Teachers)
                .ThenInclude(t=>t.StudentGroupsOfKurator)
            .Where(u => u.UserName == User.Identity.Name).SingleOrDefaultAsync();
        if(user.Teachers != null)
        {
            foreach (var teacher in user.Teachers)
            {
                if(teacher.StudentGroupsOfKurator!=null)
                {
                    IsKurator = true;
                }

            }

        }
    }
}

@if (IsKurator)
{
    <ul class="nav navbar-nav navbar-left">
        <!-- Выпадающий список -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Куратор <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Students" asp-action="StudentsOfKuratorByGroups">Курируемые группы</a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Студенты и группы<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Students" asp-action="Index">Студенты</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ведомости<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Vedomosti" asp-action="Index">Ведомости</a></li>
                        <li><a asp-controller="VedomostStudentMarks" asp-action="Index">Отметки по ведомостям</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
}
