<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - КИС</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @await Html.PartialAsync("_SlabovidPartial")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!-- Выпадающий список: Электронная информационно-образовательная среда -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Электронная информационно-образовательная среда<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Eios" asp-action="UchPlansRabProgs">Учебные планы, рабочие программы дисциплин (модулей), практик</a></li>
                            <li><a asp-controller="ElectronBiblSystems" asp-action="Preview">Электронные библиотечные системы</a></li>
                            <li><a asp-controller="ElectronCatalogs" asp-action="Preview">Базы данных электронного каталога</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Учебные пособия<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Eios" asp-action="UchPosobiesSobstv">Учебные пособия (собственные)</a></li>                                    
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Электронные образовательные и информационные ресурсы<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-issobstv="true">Электронные образовательные и информационные ресурсы (собственные)</a></li>
                                    <li><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-issobstv="false">Электронные образовательные и информационные ресурсы (сторонние)</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Электронное портфолио<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Eios" asp-action="Portfolio">Электронное портфолио обучающихся</a></li>
                                    <li><a asp-controller="Eios" asp-action="PortfolioPps">Электронное портфолио преподавателей</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <!-- Выпадающий список: Абитуриенту -->
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Абитуриенту<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Abitur" asp-action="Start">Стартовая страница абитуриента</a></li>
                            @*<li><a asp-controller="Abitur" asp-action="Register">Регистрация абитуриента и электронная подача документов</a></li>
                            <li><a asp-controller="Abitur" asp-action="GenerateApplicationForAdmission">Заявление о приёме</a></li>*@
                            @*<li class="divider"></li>
                            <li><a asp-controller="Abitur" asp-action="SrProf">Среднее профессиональное образование</a></li>
                            <li class="divider"></li>
                            <li><a asp-controller="Abitur" asp-action="Bachelor">Бакалавриат</a></li>
                            <li><a asp-controller="Abitur" asp-action="Special">Специалитет</a></li>
                            <li><a asp-controller="Abitur" asp-action="Magistr">Магистратура</a></li>
                            <li class="divider"></li>
                            <li><a asp-controller="Abitur" asp-action="Postgraduate">Аспирантура</a></li>*@
                        </ul>
                    </li>
                    
                    <!-- Выпадающий список: Сведения об образовательной организации -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сведения об образовательной организации<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Sveden" asp-action="Common">Основные сведения</a></li>
                            <li><a asp-controller="Sveden" asp-action="Struct">Структура и органы управления образовательной организацией</a></li>
                            <li><a asp-controller="Sveden" asp-action="Document">Документы</a></li>
                            <li><a asp-controller="Sveden" asp-action="Education">Образование</a></li>
                            <li><a asp-controller="Sveden" asp-action="EduStandarts">Образовательные стандарты</a></li>
                            <li><a asp-controller="Sveden" asp-action="Employees">Руководство. Педагогический (научно-педагогический) состав</a></li>
                            <li><a asp-controller="Sveden" asp-action="Objects">Материально-техническое обеспечение и оснащённость образовательного процесса</a></li>
                            <li><a asp-controller="Sveden" asp-action="Grants">Стипендии и иные виды материальной поддержки</a></li>
                            <li><a asp-controller="Sveden" asp-action="Paid_edu">Платные образовательные услуги</a></li>
                            <li><a asp-controller="Sveden" asp-action="Budget">Финансово-хозяйственная деятельность</a></li>
                            <li><a asp-controller="Sveden" asp-action="Vacant">Вакантные места для приема (перевода)</a></li>
                            <li><a asp-controller="Sveden" asp-action="Ovz">Доступная среда</a></li>
                            <li><a asp-controller="Sveden" asp-action="Inter">Международное сотрудничество</a></li>
                        </ul>
                    </li>

                </ul>

                @await Html.PartialAsync("_SlabovidMenuButtonPartial")
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    @inject SignInManager<AppUser> SignInManager
    @if (SignInManager.IsSignedIn(User))
    {        
        <nav class="nav navbar navbar-left">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    @await Html.PartialAsync("_AdminPartial")
                    @await Html.PartialAsync("_OtdelKadrovPartial")
                    @await Html.PartialAsync("_KancelyariyaPartial")
                    @await Html.PartialAsync("_BuhgalteriyaPartial")
                    @await Html.PartialAsync("_UchChastPartial")
                    @await Html.PartialAsync("_DekanatPartial")
                    @await Html.PartialAsync("_KuratorPartial")
                    @await Html.PartialAsync("_PriemnayaKomissiyaPartial")
                    @await Html.PartialAsync("_YurotdelPartial")
                    @await Html.PartialAsync("_CPORMPartial")
                    @await Html.PartialAsync("_ZamDirectoraPoSocRabotePartial")
                    @await Html.PartialAsync("_ZamDirectoraPoVospRabotePartial")
                    @await Component.InvokeAsync("MetodKomissiya")
                    @await Html.PartialAsync("_BibliotekaPartial")
                    @await Html.PartialAsync("_DocumentationPartial")
                    @await Html.PartialAsync("_NichPartial")
                    @await Component.InvokeAsync("StructSubvisionChief")
                </div>
            </div>
        </nav>
    }


        <div class="container-fluid body-content">
            <br />
            <br />
            <br />
            @RenderBody()
            <hr />
            <footer>
                <p class="text-center">&copy; 2020 <a href="http://www.ачгаа.рф/">Азово-Черноморский инженерный институт ФГБОУ ВО Донской ГАУ</a>. Все права защищены.</p>
                <p class="text-center">Разработка сайта - Кафедра "Математика и биоинформатика".</p>
            </footer>
        </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
