@using Microsoft.AspNetCore.Identity
@using KisVuzDotNetCore2.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="nav navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Выпадающий список -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @UserManager.GetUserName(User)<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="UserProfile" asp-action="Index" title="Профиль пользователя"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Профиль</a></li>
                <li role="separator" class="divider"></li>
                <li><a asp-controller="Account" asp-action="Logout" title="Выйти"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Выйти</a></li>
            </ul>
        </li>

    }
    else
    {        
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></li>        
    }
        <li class="slabovid" itemprop="copy"><a asp-area="" asp-controller="Slabovid" asp-action="Change">Версия для слабовидящих</a></li>
</ul>
