<ul class="nav navbar-nav navbar-left">
    @if (User.IsInRole("НИЧ"))
    {
    <!-- Выпадающий список -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">НИЧ <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-controller="CitationBases" asp-action="Index">Базы цитирования</a></li>
            <li><a asp-controller="NirSpecials" asp-action="Index">Научные специальности</a></li>
            <li><a asp-controller="NirSpecialEduProfiles" asp-action="Index">Научные специальности - Профили подготовки</a></li>
            <li><a asp-controller="NirTemas" asp-action="Index">Темы НИР</a></li>
            <li><a asp-controller="NirTemaEduProfiles" asp-action="Index">Тема НИР - Профиль подготовки</a></li>
            <li><a asp-controller="ScienceJournals" asp-action="Index">Научные журналы</a></li>
            <li><a asp-controller="ScienceJournalAddingClaims" asp-action="Index">Заявки на добавление научных журналов</a></li>            
            <li><a asp-controller="Articles" asp-action="Index">Научные статьи</a></li>            
            <li><a asp-controller="Patents" asp-action="Index">Патенты (свидетельства)</a></li>            
        </ul>
    </li>
    }    
</ul>
