<ul class="nav navbar-nav navbar-left">
    @if (User.IsInRole("Отдел кадров"))
    {
    <!-- Выпадающий список -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Отдел кадров <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-controller="Qualifications" asp-action="Index" asp-route-id="" title="Квалификации пользователей">Квалификации пользователей</a></li>
            <li><a asp-controller="Qualifications" asp-action="ConfirmWaiting" title="Подтверждение квалификации пользователей">Подтверждение квалификации пользователей</a></li>
            <li class="divider"></li>
            <li><a asp-controller="RefresherCourses" asp-action="Index">Повышение квалификации пользователей</a></li>
            <li><a asp-controller="RefresherCourses" asp-action="ConfirmWaiting">Подтверждение повышения квалификации пользователей</a></li>
            <li class="divider"></li>
            <li><a asp-controller="ProfessionalRetrainings" asp-action="Index">Профессиональная переподготовка пользователей</a></li>
            <li><a asp-controller="ProfessionalRetrainings" asp-action="ConfirmWaiting">Подтверждение профессиональной переподготовки пользователей</a></li>
            <li class="divider"></li>
            <li><a asp-controller="StructSubvisions" asp-action="Index">Структурные подразделения</a></li>
            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="PolojenOStructPodrazd">Положения о структурных подразделениях</a></li>
            <li class="divider"></li>
            <li><a asp-controller="AppUserStructSubvisions" asp-action="Index">Пользователь - Структурное подразделение - Должность - Форма занятости</a></li>
            <li><a asp-controller="TeacherStructKafPostStavka" asp-action="Index">Преподаватель - Кафедра - Должность - Форма занятости</a></li>
            <li class="divider"></li>
            <li><a asp-controller="Rucovodstvo" asp-action="Index">Руководство института</a></li>
            <li><a asp-controller="Posts" asp-action="Index">Должности</a></li>
            <li><a asp-controller="EmploymentForms" asp-action="Index">Формы занятости</a></li>
        </ul>
    </li>
    }    
</ul>
