<ul class="nav navbar-nav navbar-left">
    @if (User.IsInRole("ОВЗ"))
    {
    <!-- Выпадающий список -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ОВЗ <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-controller="Pomeshenies"   asp-action="Index" asp-route-id="">Помещения</a></li>
            <li><a asp-controller="Oborudovanies" asp-action="Index" asp-route-id="">Оборудование</a></li>
            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="InfObObespBesprDostupaVZdaniyaObrOrg">Инф-я об обеспечении беспрепятственного доступа в здания обр. орг-ции (документ)</a></li>
            <li><a asp-controller="Ovz"           asp-action="Index" asp-route-id="">Инф-я об обеспечении беспрепятственного доступа в здания обр. орг-ции</a></li>
        </ul>
    </li>
    }    
</ul>
