<ul class="nav navbar-nav navbar-left">
    @if (User.IsInRole("Приёмная комиссия"))
    {
    <!-- Выпадающий список -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Приёмная комиссия <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-controller="RegisteredAbiturients" asp-action="Index">Абитуриенты</a></li>
            <li><a asp-controller="RegisteredAbiturientsUserDocumentsCheck" asp-action="Index">Основные документы абитуриентов</a></li>
            <li><a asp-controller="ApplicationForAdmissions" asp-action="Index">Заявления о приёме</a></li>
            <li><a asp-controller="ConsentToEnrollments" asp-action="Index">Заявления о согласии на зачисление</a></li>
            <li><a asp-controller="AbiturientIndividualAchievments" asp-action="Index">Индивидуальные достижения</a></li>
            <li><a asp-controller="AdmissionPrivileges" asp-action="Index">Льготы</a></li>
            <li><a asp-controller="Contracts" asp-action="Index">Договоры</a></li>

            @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Проверки <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="RegisteredAbiturientsUserDocumentsCheck" asp-action="Index">Основные документы абитуриентов</a></li>
                </ul>
            </li>*@

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Мероприятия <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="LmsEventsPriem" asp-action="Index">Вступительные испытания</a></li>
                </ul>
            </li>

            <li class="divider"></li>
            <li><a asp-controller="EduNapravlEduForms" asp-action="Index">Направления - Формы обучения</a></li>
            <li><a asp-controller="EduNapravlQuotaTypes" asp-action="Index">Направления - Типы квот</a></li>
            <li><a asp-controller="AbiturientIndividualAchievmentTypes" asp-action="Index">Типы индивидуальных достижений абитуриентов</a></li>
            <li><a asp-controller="AdmissionPrivilegeTypes" asp-action="Index">Типы льгот</a></li>
            <li><a asp-controller="DocumentSamples" asp-action="Index">Бланки документов и примеры заполнения</a></li>
            <li class="divider"></li>
            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="LocalnieNormativnieActiReglamentiruyushiePravilaPriemaObuchaushihsya">Локальные нормативные акты, регламентирующие правила приема обучающихся</a></li>
            <li><a asp-controller="Documents" asp-action="Index" asp-route-id="" asp-route-doctype="ObrazecDogovoraObOkazaniiPlatnihObrazovatelnihUslug">Образец договора об оказании платных образовательных услуг</a></li>
            <li><a asp-controller="EduPriems" asp-action="Index">Результаты приема по каждой профессии, специальности СПО (табл. 8)</a></li>
            <li><a asp-controller="PriemKolMests" asp-action="Index">Кол-во мест для приёма на обучение (до 1 октября) (табл. 24)</a></li>
            <li><a asp-controller="PriemExams" asp-action="Index">Условия поступления (табл. 25)</a></li>
            <li><a asp-controller="PriemKolTargets" asp-action="Index">Кол-во мест для приёма на обучение (до 1 июня) (табл. 27)</a></li>
            <li><a asp-controller="BlankNums" asp-action="Index">Кол-во поданных заявлений о приёме (табл. 29)</a></li>
        </ul>
    </li>
    }    
</ul>
