@model KisVuzDotNetCore2.Models.Education.DisciplineName

@{
    ViewData["Title"] = "Удалить";
}


<h3>Удалить дисциплину?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisciplineNameName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisciplineNameName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DisciplineNameId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
