@model KisVuzDotNetCore2.Models.Education.Discipline

@{
    ViewData["Title"] = "Добавить";
}

<h2>Добавить дисциплину</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisciplineCode" class="control-label"></label>
                <input asp-for="DisciplineCode" class="form-control" />
                <span asp-validation-for="DisciplineCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplineNameId" class="control-label"></label>
                <select asp-for="DisciplineNameId" class ="form-control" asp-items="ViewBag.DisciplineNameId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BlokDisciplChastId" class="control-label"></label>
                <input type="hidden" asp-for="BlokDisciplChastId" class ="form-control" asp-items="ViewBag.BlokDisciplChastId">
            </div>
            <div class="form-group">
                <input type="submit" asp-route-BlokDisciplChastId="@ViewBag.BlokDisciplChastId" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" asp-route-BlokDisciplChastId="@ViewBag.BlokDisciplChastId" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>


