@model IEnumerable<KisVuzDotNetCore2.Models.UchPosobiya.UchPosobieFormaIzdaniya>

@{
    ViewData["Title"] = "Форма издания учебного пособия";
}

<h2>Форма издания учебного пособия</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UchPosobieFormaIzdaniyaName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UchPosobieFormaIzdaniyaName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UchPosobieFormaIzdaniyaId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.UchPosobieFormaIzdaniyaId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
