@model KisVuzDotNetCore2.Models.FileDataTypeGroup

@{
    ViewData["Title"] = "Удаление группы типов содержимого файлов";
}

<h2>Удаление группы типов содержимого файлов</h2>

<h3>Вы действительно хотите удалить выбранный элемент?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileDataTypeGroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileDataTypeGroupName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FileDataTypeGroupId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
