@model KisVuzDotNetCore2.Models.Common.TextBlock

@{
    ViewData["Title"] = "Подробно";
}

<h2>Подробно</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TextBlockName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TextBlockName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TextBlockId" class=" btn btn-primary">Редактировать</a>
    <a asp-action="Index" class=" btn btn-default">Отмена</a>
</div>
