@model IEnumerable<KisVuzDotNetCore2.Models.Education.BlokDisciplChastName>

@{
    ViewData["Title"] = "Наименование части блока дисциплин Учебного плана";
}

<h2>Наименование части блока дисциплин Учебного плана</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BlokDisciplChastNameName)
                </th>
            <th>
                Действие
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlokDisciplChastNameName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlokDisciplChastNameId">Редактировать</a>
                <a asp-action="Delete" asp-route-id="@item.BlokDisciplChastNameId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
