@model KisVuzDotNetCore2.Models.Nir.ArticleNirSpecial

@{
    ViewData["Title"] = "Удалить соответствие Научная статья - начная специальность";
}

<h2>Удалить соответствие Научная статья - начная специальность</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.ArticleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NirSpecial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NirSpecial.NirSpecialId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArticleNirSpecialId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
