@model KisVuzDotNetCore2.Models.Struct.StructSubvisionType

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Подробнее о типе структурного подразделения</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvisionTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvisionTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StructSubvisionTypeId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-default">Отмена</a>
</div>
