@model AppUser

<h1>Полное удаление пользователя</h1>
<h4>Вы действительно хотите удалить пользователя (<a asp-controller="UserProfile" asp-action="Index" asp-route-id="@Model.Id" target="_blank">@Model.GetFullName - @Model.Email</a>) со всеми связанными данными?</h4>

<form asp-action="DeleteConfirmed">
    <input type="hidden" name="userName" value="@Model.UserName" />
    <input type="submit" value="Удалить" class="btn btn-danger" />
    <a asp-action="Search" class="btn btn-default">Отмена</a>
</form>