@model KisVuzDotNetCore2.Models.Users.ProfessionalRetraining

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ProfessionalRetraining</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingDiplomRegNumber" class="control-label"></label>
                <input asp-for="ProfessionalRetrainingDiplomRegNumber" class="form-control" />
                <span asp-validation-for="ProfessionalRetrainingDiplomRegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingDiplomNumber" class="control-label"></label>
                <input asp-for="ProfessionalRetrainingDiplomNumber" class="form-control" />
                <span asp-validation-for="ProfessionalRetrainingDiplomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingProgramName" class="control-label"></label>
                <input asp-for="ProfessionalRetrainingProgramName" class="form-control" />
                <span asp-validation-for="ProfessionalRetrainingProgramName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingHours" class="control-label"></label>
                <input asp-for="ProfessionalRetrainingHours" class="form-control" />
                <span asp-validation-for="ProfessionalRetrainingHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingCity" class="control-label"></label>
                <input asp-for="ProfessionalRetrainingCity" class="form-control" />
                <span asp-validation-for="ProfessionalRetrainingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingInstitition" class="control-label"></label>
                <input asp-for="ProfessionalRetrainingInstitition" class="form-control" />
                <span asp-validation-for="ProfessionalRetrainingInstitition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingDateStart" class="control-label"></label>
                <input asp-for="ProfessionalRetrainingDateStart" class="form-control" />
                <span asp-validation-for="ProfessionalRetrainingDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingDateFinish" class="control-label"></label>
                <input asp-for="ProfessionalRetrainingDateFinish" class="form-control" />
                <span asp-validation-for="ProfessionalRetrainingDateFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingDateIssue" class="control-label"></label>
                <input asp-for="ProfessionalRetrainingDateIssue" class="form-control" />
                <span asp-validation-for="ProfessionalRetrainingDateIssue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalRetrainingFileId" class="control-label"></label>
                <select asp-for="ProfessionalRetrainingFileId" class ="form-control" asp-items="ViewBag.ProfessionalRetrainingFileId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class ="form-control" asp-items="ViewBag.AppUserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
