@model KisVuzDotNetCore2.Models.Struct.Email

@{
    ViewData["Title"] = "Удалить адрес электронной почты?";
}

<h2>Удалить адрес электронной почты?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailComment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmailId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default" >Отмена</a>
    </form>
</div>
