@model KisVuzDotNetCore2.Models.AcademicDegreeGroup

@{
    ViewData["Title"] = "Подробнее о группе учёных степеней";
}

<h2>Подробнее о группе учёных степеней</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcademicDegreeGroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicDegreeGroupName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AcademicDegreeGroupId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-default">Отмена</a>
</div>
