@model KisVuzDotNetCore2.Models.ElectronCatalog

@{
    ViewData["Title"] = "Добавить информацию о БД электронного каталога";
}

<h2>Добавить информацию о БД электронного каталога</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameEc" class="control-label"></label>
                <input asp-for="NameEc" class="form-control" />
                <span asp-validation-for="NameEc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionEc" class="control-label"></label>
                <input asp-for="DescriptionEc" class="form-control" />
                <span asp-validation-for="DescriptionEc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отменить</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
