@model IEnumerable<KisVuzDotNetCore2.Models.ElectronCatalog>

@{
    ViewData["Title"] = "Базы данных электронного каталога";
}

<h2>Базы данных электронного каталога</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameEc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionEc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionEc)
                </td>
            </tr>
        }
    </tbody>
</table>
