@model KisVuzDotNetCore2.Models.Students.VedomostStudentMarkName

@{
    ViewData["Title"] = "Редактирование";
}

<h2>Редактирование</h2>

<h4>Наименование отметки по ведомости (справочник)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VedomostStudentMarkNameId" />
            <div class="form-group">
                <label asp-for="VedomostStudentMarkNameName" class="control-label"></label>
                <input asp-for="VedomostStudentMarkNameName" class="form-control" />
                <span asp-validation-for="VedomostStudentMarkNameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>