@model IEnumerable<KisVuzDotNetCore2.Models.Students.VedomostStudentMarkName>

@{
    ViewData["Title"] = "Наименования отметок по ведомости (справочник)";
}

<h2>Наименования отметок по ведомости (справочник)</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VedomostStudentMarkNameName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VedomostStudentMarkNameName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VedomostStudentMarkNameId">Редактировать</a> |                
                <a asp-action="Delete" asp-route-id="@item.VedomostStudentMarkNameId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
