@model KisVuzDotNetCore2.Models.Education.EduPlanEduYearBeginningTraining

@{
    ViewData["Title"] = "Добавить";
}

<h2>Добавить год начала подготовки</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EduPlanId" class="control-label"></label>
                <select asp-for="EduPlanId" class ="form-control" asp-items="ViewBag.EduPlanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EduYearBeginningTrainingId" class="control-label"></label>
                <select asp-for="EduYearBeginningTrainingId" class ="form-control" asp-items="ViewBag.EduYearBeginningTrainingId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

