@model KisVuzDotNetCore2.Models.Education.EduChislen

@{
    ViewData["Title"] = "Редактировать";
}

<h2>Редактировать</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EduChislenId" />
            <div class="form-group">
                <label asp-for="EduProfileId" class="control-label"></label>
                <select asp-for="EduProfileId" class="form-control" asp-items="ViewBag.EduProfileId"></select>
                <span asp-validation-for="EduProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduFormId" class="control-label"></label>
                <select asp-for="EduFormId" class="form-control" asp-items="ViewBag.EduFormId"></select>
                <span asp-validation-for="EduFormId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberBFpriem" class="control-label"></label>
                <input asp-for="NumberBFpriem" class="form-control" />
                <span asp-validation-for="NumberBFpriem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberBRpriem" class="control-label"></label>
                <input asp-for="NumberBRpriem" class="form-control" />
                <span asp-validation-for="NumberBRpriem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberBMpriem" class="control-label"></label>
                <input asp-for="NumberBMpriem" class="form-control" />
                <span asp-validation-for="NumberBMpriem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberPpriem" class="control-label"></label>
                <input asp-for="NumberPpriem" class="form-control" />
                <span asp-validation-for="NumberPpriem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
