@model KisVuzDotNetCore2.Models.Sveden.PomeshenieTypepomesheniya

@{
    ViewData["Title"] = "Удалить данные о помещении";
}

<h3>Удалить данные о помещении?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pomeshenie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pomeshenie.PomeshenieId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PomeshenieType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PomeshenieType.PomeshenieTypeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PomeshenieTypepomesheniyaId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
