@model KisVuzDotNetCore2.Models.Struct.Post

@{
    ViewData["Title"] = "Удалить должность?";
}

<h2>Удалить должность?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index"class="btn btn-default">Отмена</a>
    </form>
</div>
