
@{
    ViewData["Title"] = "Абитуриенту";
}

<h2>Кабинет абитуриента</h2>

<a class="btn btn-info btn-block" role="button" data-toggle="collapse" href="#collapseConsultants" aria-expanded="false" aria-controls="collapseConsultants">
    <span class="glyphicon glyphicon-question-sign"></span>
    Справочная информация
    <span class="glyphicon glyphicon-question-sign"></span>
</a>
<div class="collapse" id="collapseConsultants">
    <div class="well">
        <p>
            <a href="http://ачгаа.рф/files/achii/priem2020/instrAbit.pdf" target="_blank">Инструкция по регистрации абитуриента</a>
        </p>
        <p>
            <a href="http://ачгаа.рф/files/achii/priem2020/instrAbitLK.pdf" target="_blank">Инструкция по работе абитуриента в личном кабинете</a>
        </p>
        <hr />
        <p>
            <a href="http://ачгаа.рф/nash-vuz/podrazdeleniya-akademii/priemnaya-komissiya" target="_blank">Веб-страница приёмной комиссии на официальном сайте образовательной организации</a>
        </p>
        <p>
            Телефон приемной комиссии для ответов на вопросы поступающих — 8-863-59-41-8-31
        </p>
        <hr />
        <p>
            <a href="http://ачгаа.рф/abitur" target="_blank">Подробная информация о приёмной кампании на официальном сайте образовательной организации</a>
        </p>
    </div>
</div>

<hr />

<p>
    Если вы ранее регистрировались в системе, нажмите на кнопку "Войти".
</p>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="/Abitur/Start" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-log-in"></span> Войти</a>
    </div>
</div>

<hr />

<p>
    Если вы ещё не зарегистрированы, нажмите на кнопку "Регистрация абитуриента"
</p>

<div class="row">
    <div class="col-lg-3 col-md-3">
        <a asp-controller="Abitur" asp-action="Register" class="btn btn-success btn-block">Регистрация абитуриента</a>
    </div>
</div>