@model KisVuzDotNetCore2.Models.Abitur.AbiturientIndividualAchievment

@{
    ViewData["Title"] = "Индивидуальные достижения";
}

<h2>Редактирование индивидуального достижения абитуриента</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AbiturientIndividualAchievmentEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AbiturientIndividualAchievmentTypeId" class="control-label"></label>
                <select asp-for="AbiturientIndividualAchievmentTypeId" class="form-control" asp-items="ViewBag.AbiturientIndividualAchievmentTypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="FileModelId" class="control-label"></label>
                @if (Model.FileModel != null)
                {
                    <label class="form-control"><a href="/@Model.FileModel.Path" target="_blank">Открыть загруженный файл</a></label>
                    <label asp-for="FileModelId" class="control-label">Для замены выберите новый файл</label>
                }
                <input type="file" name="uploadedFile" class="form-control" />
            </div>
            <div class="form-group">                
                <input type="hidden" asp-for="AbiturientId" />
                <input type="hidden" asp-for="AbiturientIndividualAchievmentId" />
                <input type="hidden" asp-for="RowStatusId" value="@((int)RowStatusEnum.ChangedByUser)" />
                <input type="hidden" asp-for="FileModelId" />
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Start" asp-route-selectedTab="abiturientAchievments" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>