@{
    ViewData["Title"] = "Бакалавриат";
}

<h2>Бакалавриат</h2>

@Html.Partial("TablePriemKolMestPartial")
<br />
@Html.Partial("TablePriemExamPartial")
<br />
@Html.Partial("TablePriemKolTargetPartial")
<br />
@Html.Partial("TableBlankNumPartial")
