
@{
    ViewData["Title"] = "Index";
}

<h2>Абитуриенту</h2>

<table class="table table-hover">
    <tr><td><a asp-action="SrProf">Среднее профессиональное образование</a></td></tr>
    <tr><td><a asp-action="Bachelor">Бакалавриат</a></td></tr>
    <tr><td><a asp-action="Special">Специалитет</a></td></tr>
    <tr><td><a asp-action="Magistr">Магистратура</a></td></tr>
    <tr><td><a asp-action="Postgraduate">Аспирантура</a></td></tr>
</table>


