
@{
    ViewData["Title"] = "Запрет на создание заявления о приёме";
}

<h2>Достигнуто максимально-допустимое число заявлений о приёме</h2>
<a asp-action="Start" asp-route-selectedTab="applicationForAdmissions" class="btn btn-primary">Вернуться к списку заявлений о приёме</a>

