
@{
    ViewData["Title"] = "Не абитуриент";
}

<h2>Вы не являетесь пользователем, зарегистрированным как абитуриент образовательной организации</h2>
<h3>Если это не так, обратитесь в приёмную комиссию</h3>

