
@{
    ViewData["Title"] = "Не абитуриент";
}

<h2>Регистрация абитуриента</h2>
<p>Вы не являетесь пользователем, зарегистрированным как абитуриент образовательной организации.</p>
<p>Если вы планируете подавать документы на приём, нажмите на кнопку ниже</p>
<form asp-action="RegisterUserAsAbiturient">
    <input type="submit" class="btn btn-primary" value="Стать абитуриентом" />
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Отмена</a>
</form>

