@{
    ViewData["Title"] = "Аспирантура";
}

<h2>Аспирантура</h2>

@Html.Partial("TablePriemKolMestPartial")
<br />
@Html.Partial("TablePriemExamPartial")
<br />
@Html.Partial("TablePriemKolTargetPartial")
<br />
@Html.Partial("TableBlankNumPartial")