@{
    ViewData["Title"] = "Среднее профессиональное образование";
}

<h2>Среднее профессиональное образование</h2>

@Html.Partial("TablePriemKolMestPartial")
<br />
@Html.Partial("TablePriemExamPartial")
<br />
@Html.Partial("TablePriemKolTargetPartial")