@model KisVuzDotNetCore2.Models.Students.Student

@{
    ViewData["Title"] = "Добавление";
}

<h2>Добавление студента с существующим аккаунтом</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentFio" class="control-label"></label>
                <input asp-for="StudentFio" class="form-control" />
                <span asp-validation-for="StudentFio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZachetnayaKnijkaNumber" class="control-label"></label>
                <input asp-for="ZachetnayaKnijkaNumber" class="form-control" />
                <span asp-validation-for="ZachetnayaKnijkaNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class ="form-control" asp-items="ViewBag.AppUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentGroupId" class="control-label"></label>
                <select asp-for="StudentGroupId" class ="form-control" asp-items="ViewBag.StudentGroupId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>