@model KisVuzDotNetCore2.Models.Education.EduQualification

@{
    ViewData["Title"] = "Удалить";
}

<h3>Удалить квалификацию?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduQualificationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduQualificationName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EduQualificationId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
