@model UserProfileModificationModel
<div class="bg-primary panel-body">
    <h4>Профиль пользователя @Model.UserName</h4>
</div>
<div asp-validation-summary="All" class="text-danger"></div>

@if (Model.AppUserPhoto != null)
{
    <img style='width:80px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.AppUserPhoto))" />
}

<form asp-action="ChangeProfile" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="AppUserPhotoFile"></label>
        <input asp-for="AppUserPhotoFile" type="file" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Patronymic"></label>
        <input asp-for="Patronymic" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Birthdate"></label>
        <input asp-for="Birthdate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-default">Отмена</a>
</form>