@model KisVuzDotNetCore2.Models.Education.EduKurs

@{
    ViewData["Title"] = "Удалить";
}

<h2>Удаление курса</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduKursNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduKursNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduKursName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduKursName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EduKursId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Отмена</a>
        
    </form>
</div>
