@model KisVuzDotNetCore2.Models.GraduateTrudoustroustvo

@{
    ViewData["Title"] = "Редактировать трудоустройство";
}

<h2>Редактировать трудоустройство</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GraduateTrudoustroustvoId" />
            <div class="form-group">
                <label asp-for="EduProfile.EduProfileName" class="control-label"></label>
                <select asp-for="EduProfileId" class="form-control" asp-items="ViewBag.EduProfileId"></select>
                <span asp-validation-for="EduProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduateYearName" class="control-label"></label>
                <select asp-for="GraduateYearId" class="form-control" asp-items="ViewBag.GraduateYearId"></select>
                <span asp-validation-for="GraduateYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduateTrudoustroustvoNumber" class="control-label"></label>
                <input asp-for="GraduateTrudoustroustvoNumber" class="form-control" />
                <span asp-validation-for="GraduateTrudoustroustvoNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>