@model KisVuzDotNetCore2.Models.Struct.StructInstitute

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>StructInstitute</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StructInstituteId" />
            <div class="form-group">
                <label asp-for="StructInstituteName" class="control-label"></label>
                <input asp-for="StructInstituteName" class="form-control" />
                <span asp-validation-for="StructInstituteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfCreation" class="control-label"></label>
                <input asp-for="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <select asp-for="AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
                <span asp-validation-for="AddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ExistenceOfFilials" /> @Html.DisplayNameFor(model => model.ExistenceOfFilials)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WorkingRegime" class="control-label"></label>
                <input asp-for="WorkingRegime" class="form-control" />
                <span asp-validation-for="WorkingRegime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingSchedule" class="control-label"></label>
                <input asp-for="WorkingSchedule" class="form-control" />
                <span asp-validation-for="WorkingSchedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityId" class="control-label"></label>
                <select asp-for="UniversityId" class="form-control" asp-items="ViewBag.UniversityId"></select>
                <span asp-validation-for="UniversityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
