@model IEnumerable<KisVuzDotNetCore2.Models.Struct.StructInstitute>

@{
    ViewData["Title"] = "Институты";
}

<h2>Институты</h2>

<p>
    <a class = "btn btn-primary" asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StructInstituteName)
                </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StructInstituteName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StructInstituteId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.StructInstituteId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
