@model KisVuzDotNetCore2.Models.AcademicStat

@{
    ViewData["Title"] = "Подробнее об учёном звании";
}

<h2>Подробнее об учёном звании</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcademicStatName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicStatName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AcademicStatId" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-default">Отмена</a>
</div>
