@model KisVuzDotNetCore2.Models.Education.FormKontrol

@{
    ViewData["Title"] = "Удалить";
}


<h3>Удалить форму контроля?</h3>
<div>
    <h4>FormKontrol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormKontrolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormKontrolName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FormKontrolId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отменить</a>
    </form>
</div>
