@model ElGradebook

@{
    ViewData["Title"] = "Редактировать";
    
    bool isEditing = Model.ElGradebookId > 0;//Флаг редактирования
}

<h2>Электронный журнал @(isEditing ? "(редактирование)" : "(добавление)")</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ElGradebookCreateOrUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ElGradebookId" />            

            <div class="form-group">
                <label asp-for="EduYear" class="control-label"></label>
                <input asp-for="EduYear" class="form-control" />
                <span asp-validation-for="EduYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DisciplineName" class="control-label"></label>
                <input asp-for="DisciplineName" class="form-control" />
                <span asp-validation-for="DisciplineName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <input asp-for="Course" class="form-control" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SemesterNumber" class="control-label"></label>
                <input asp-for="SemesterNumber" class="form-control" />
                <span asp-validation-for="SemesterNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Faculty" class="control-label"></label>                
                <select asp-for="Faculty" asp-items="ViewBag.Faculties" class="form-control" ></select>
                <span asp-validation-for="Faculty" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                @*<input asp-for="Department" class="form-control" />*@
                <select asp-for="Department" asp-items="ViewBag.Departments" class="form-control"></select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>