@model KisVuzDotNetCore2.Models.Nir.CitationBase

@{
    ViewData["Title"] = "Удаление сведений о базе цитирования";
}

<h3>Удалить сведения о базе цитирования?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CitationBaseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CitationBaseName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CitationBaseId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
