@model KisVuzDotNetCore2.Models.UchPosobiya.UchPosobieVid

@{
    ViewData["Title"] = "Удалить вид учебного пособия";
}

<h3>Удалить вид учебного пособия?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UchPosobieVidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UchPosobieVidName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UchPosobieVidId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-default">Отменить</a>
    </form>
</div>
