@model IEnumerable<KisVuzDotNetCore2.Models.UchPosobiya.UchPosobieVid>

@{
    ViewData["Title"] = "Вид учебного пособия";
}

<h2>Вид учебного пособия</h2>

<p>
    <a asp-action="Create" class="btn bg-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UchPosobieVidName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UchPosobieVidName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UchPosobieVidId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.UchPosobieVidId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
