@model KisVuzDotNetCore2.Models.Education.EduUgs

@{
    ViewData["Title"] = "УГС. Редактирование";
}

<h2>Редактирование</h2>

<h4>Укрупнённые группы специальностей</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EduUgsId" />
            <div class="form-group">
                <label asp-for="EduLevel.EduLevelName" class="control-label"></label>
                <select asp-for="EduLevelId" class="form-control" asp-items="ViewBag.EduLevelId"></select>
                <span asp-validation-for="EduLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduUgsCode" class="control-label"></label>
                <input asp-for="EduUgsCode" class="form-control" />
                <span asp-validation-for="EduUgsCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduUgsName" class="control-label"></label>
                <input asp-for="EduUgsName" class="form-control" />
                <span asp-validation-for="EduUgsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
