@model KisVuzDotNetCore2.Models.Struct.MetodKomissiya

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Подробные сведения</h2>

<div>
    <h4>Методкомиссия</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MetodKomissiyaName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetodKomissiyaName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MetodKomissiyaId" class="btn btn-default">Редактировать</a>
    <a asp-action="Index" class="btn btn-primary">Отмена</a>
</div>
