@model KisVuzDotNetCore2.Models.Struct.StructKaf

@{
    ViewData["Title"] = "Удалить кафедру?";
}

<h2>Удалить кафедру?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructFacultet.StructFacultetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructFacultet.StructSubvision.StructSubvisionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvision.StructSubvisionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvision.StructSubvisionName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StructKafId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
