@model KisVuzDotNetCore2.Models.Qualification

@{
    ViewData["Title"] = "Редактирование квалификации";
}

<h2>Редактирование квалификации</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QualificationId" />
            <div class="form-group">
                <label asp-for="NapravlName" class="control-label"></label>
                <input asp-for="NapravlName" class="form-control" />
                <span asp-validation-for="NapravlName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualificationName" class="control-label"></label>
                <input asp-for="QualificationName" class="form-control" />
                <span asp-validation-for="QualificationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="AppUserId" class="form-control" value="@ViewBag.AppUserId" />
                <input type="hidden" name="ReturnToUsersQualifications" class="form-control" value="true" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
