@model IEnumerable<KisVuzDotNetCore2.Models.Education.VidUchebRaboti>

@{
    ViewData["Title"] = "Виды учебной работы";
}

<h2>Виды учебной работы</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VidUchebRabotiName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VidUchebRabotiName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VidUchebRabotiId">Редактировать</a> |                
                <a asp-action="Delete" asp-route-id="@item.VidUchebRabotiId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
