@model KisVuzDotNetCore2.Models.Education.EduPlanEduYear

@{
    ViewData["Title"] = "Удалить";
}


<h3>Удалить учебный год?</h3>
<div>
    <h4>EduPlanEduYear</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EduPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduPlan.EduPlanDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EduYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EduYear.EduYearName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EduPlanEduYearId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
