@model KisVuzDotNetCore2.Models.Struct.StructFacultet

@{
    ViewData["Title"] = "Удалить факультет";
}

<h2>Удалить факультет?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructInstitute.StructInstituteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructInstitute.StructInstituteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructSubvision.StructSubvisionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructSubvision.StructSubvisionName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StructFacultetId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
