@model KisVuzDotNetCore2.Models.Struct.StructFacultet

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>StructFacultet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StructFacultetId" />
            <div class="form-group">
                <label asp-for="StructFacultetName" class="control-label"></label>
                <input asp-for="StructFacultetName" class="form-control" />
                <span asp-validation-for="StructFacultetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StructInstituteId" class="control-label"></label>
                <select asp-for="StructInstituteId" class="form-control" asp-items="ViewBag.StructInstituteId"></select>
                <span asp-validation-for="StructInstituteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
