@model KisVuzDotNetCore2.Models.NirTemaEduProfile

@{
    ViewData["Title"] = "Добавить тематику НИР - профиль подготовки";
    
}

<h2>Добавить тематику НИР - профиль подготовки</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NirTema.NirTemaName" class="control-label"></label>
                <select asp-for="NirTemaId" class="form-control" asp-items="ViewBag.NirTemaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EduProfile.EduProfileName" class="control-label"></label>
                <select asp-for="EduProfileId" class="form-control" asp-items="ViewBag.EduProfileId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>