@model KisVuzDotNetCore2.Models.Education.BlokDisciplChast

@{
    ViewData["Title"] = "Удалить";
}


<h3>Удалить часть блока дисциплин?</h3>
<div>
    <h4>BlokDisciplChast</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlokDisciplChastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlokDisciplChastName.BlokDisciplChastNameName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BlokDisciplChastId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
