@model KisVuzDotNetCore2.Models.Education.BlokDisciplChast

@{
    ViewData["Title"] = "Редактировать";
}

<h2>Редактировать</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlokDisciplChastId" />
            <div class="form-group">
                <label asp-for="BlokDisciplChastName" class="control-label"></label>
                <select asp-for="BlokDisciplChastNameId" class="form-control" asp-items="ViewBag.BlokDisciplChastNameId"></select>
                <span asp-validation-for="BlokDisciplChastNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>


