@model KisVuzDotNetCore2.Models.Sveden.EduPr

@{
    ViewData["Title"] = "Добавление";
}

<h2>Добавление</h2>

<h4>Образовательная программа (наличие практики)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EduProfileId" class="control-label"></label>
                <select asp-for="EduProfileId" class ="form-control" asp-items="ViewBag.EduProfileId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsOVZ" /> @Html.DisplayNameFor(model => model.IsOVZ)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EduYearBeginningTrainingId" class="control-label"></label>
                <select asp-for="EduYearBeginningTrainingId" class ="form-control" asp-items="ViewBag.EduYearBeginningTrainingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EduFormId" class="control-label"></label>
                <select asp-for="EduFormId" class ="form-control" asp-items="ViewBag.EduFormId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EduPrUchebn" class="control-label"></label>
                <input asp-for="EduPrUchebn" class="form-control" />
                <span asp-validation-for="EduPrUchebn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduPrProizv" class="control-label"></label>
                <input asp-for="EduPrProizv" class="form-control" />
                <span asp-validation-for="EduPrProizv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduPrPreddiplomn" class="control-label"></label>
                <input asp-for="EduPrPreddiplomn" class="form-control" />
                <span asp-validation-for="EduPrPreddiplomn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>

