@model KisVuzDotNetCore2.Models.Sveden.ElectronObrazovatInformRes

@{
    ViewData["Title"] = "Редактировать";
}

<h2>Редактировать</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ElectronObrazovatInformResId" />
            <div class="form-group">
                <label asp-for="NameRes" class="control-label"></label>
                <input asp-for="NameRes" class="form-control" />
                <span asp-validation-for="NameRes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkRes" class="control-label"></label>
                <input asp-for="LinkRes" class="form-control" />
                <span asp-validation-for="LinkRes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResId" class="control-label"></label>
                <select asp-for="ResId" class="form-control" asp-items="ViewBag.ResId">
                    <option value="">Не выбрано</option>
                </select>
                <span asp-validation-for="ResId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsSobstv" /> @Html.DisplayNameFor(model => model.IsSobstv)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionRes" class="control-label"></label>
                <input asp-for="DescriptionRes" class="form-control" />
                <span asp-validation-for="DescriptionRes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отменить</a>
            </div>
        </form>
    </div>
</div>


