@model KisVuzDotNetCore2.Models.Students.StudentGroup

@{
    ViewData["Title"] = "Добавить";
}

<h2>Добавить</h2>

<h4>Студенческая группа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentGroupNamePrefix" class="control-label"></label>
                <input asp-for="StudentGroupNamePrefix" class="form-control" />
                <span asp-validation-for="StudentGroupNamePrefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentGroupNumber" class="control-label"></label>
                <input asp-for="StudentGroupNumber" class="form-control" />
                <span asp-validation-for="StudentGroupNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduProfileId" class="control-label"></label>
                <select asp-for="EduProfileId" class ="form-control" asp-items="ViewBag.EduProfileId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EduFormId" class="control-label"></label>
                <select asp-for="EduFormId" class ="form-control" asp-items="ViewBag.EduFormId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EduKursId" class="control-label"></label>
                <select asp-for="EduKursId" class ="form-control" asp-items="ViewBag.EduKursId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StructFacultetId" class="control-label"></label>
                <select asp-for="StructFacultetId" class ="form-control" asp-items="ViewBag.StructFacultetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KuratorId" class="control-label"></label>
                <select asp-for="KuratorId" class ="form-control" asp-items="ViewBag.KuratorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>