@model KisVuzDotNetCore2.Models.Students.StudentGroup

@{
    ViewData["Title"] = "Редактирование";
    var StructFacultet = (StructFacultet) ViewData["StructFacultet"];
}

<h2>Редактирование</h2>

<h4>Студенческая группа</h4>
<h4>@StructFacultet.StructSubvision.StructSubvisionName</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditByDekanat">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentGroupId" />
            <div class="form-group">
                <label asp-for="EduProfileId" class="control-label"></label>
                <select asp-for="EduProfileId" class="form-control" asp-items="ViewBag.EduProfileId"></select>
                <span asp-validation-for="EduProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduKursId" class="control-label"></label>
                <select asp-for="EduKursId" class="form-control" asp-items="ViewBag.EduKursId"></select>
                <span asp-validation-for="EduKursId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduFormId" class="control-label"></label>
                <select asp-for="EduFormId" class="form-control" asp-items="ViewBag.EduFormId"></select>
                <span asp-validation-for="EduFormId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentGroupNamePrefix" class="control-label"></label>
                <input asp-for="StudentGroupNamePrefix" class="form-control" />
                <span asp-validation-for="StudentGroupNamePrefix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentGroupNumber" class="control-label"></label>
                <input asp-for="StudentGroupNumber" class="form-control" />
                <span asp-validation-for="StudentGroupNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KuratorId" class="control-label"></label>
                <select asp-for="KuratorId" class="form-control" asp-items="ViewBag.KuratorId"></select>
                <span asp-validation-for="KuratorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="StructFacultetId" value="@StructFacultet.StructFacultetId" />
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="StudentGroupsOfFacultet" asp-route-StructFacultetId="@StructFacultet.StructFacultetId" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>