@model KisVuzDotNetCore2.Models.HostelInfo

@{
    ViewData["Title"] = "Удалить";
}

<h2>Удаление информации о  наличии общежитий, интернатов, количество жилых помещений в общежитиях, интернатов для иногородних обучающихся </h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NaimenovanPokaz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NaimenovanPokaz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Znachenie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Znachenie)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HostelInfoId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
