@model KisVuzDotNetCore2.Models.Sveden.HostelInfo

@{
    ViewData["Title"] = "Редактировать запись";
}

<h2>Редактировать запись</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameIndicator" class="control-label"></label>
                <input asp-for="NameIndicator" class="form-control" />
                <span asp-validation-for="NameIndicator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itemprop" class="control-label"></label>
                <input asp-for="Itemprop" class="form-control" />
                <span asp-validation-for="Itemprop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

