@model KisVuzDotNetCore2.Models.AcademicDegree

@{
    ViewData["Title"] = "Удалить учёную степень?";
}

<h2>Удалить учёную степень?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcademicDegreeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicDegreeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcademicDegreeGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicDegreeGroup.AcademicDegreeGroupName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AcademicDegreeId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>
