@model KisVuzDotNetCore2.Models.Education.EduPOAccred

@{
    ViewData["Title"] = "Добавление свидетельства о профессионально-общественной аккредитации";
}

<h2>Добавление свидетельства о профессионально-общественной аккредитации</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EduNapravl" class="control-label"></label>
                <select asp-for="EduNapravlId" class="form-control" asp-items="ViewBag.SelectListEduNapravlFullNames">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AccredOrgName" class="control-label"></label>
                <input asp-for="AccredOrgName" class="form-control" />
                <span asp-validation-for="AccredOrgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccredDateEnd" class="control-label"></label>
                <input asp-for="AccredDateEnd" class="form-control" />
                <span asp-validation-for="AccredDateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EduPOAccredPdf" class="control-label"></label>
                <input type="file" name="uploadedFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
