@{
}

<h1>Поиск и удаление потерянных файлов</h1>

<h4>Количество файлов в папке files: @ViewBag.NumFilesInFileSystem</h4>
<h4>Количество файлов в таблице files: @ViewBag.NumFilesInDatabase</h4>
<h4>Количество работ пользователей, загруженных до @ViewBag.Date : @ViewBag.NumUserWorksUploadedToDate</h4>
<a asp-action="RemoveUserWorksUploadedFilesToDate" asp-route-date="30.08.2020" class="btn btn-danger">Удалить</a>