@model KisVuzDotNetCore2.Models.Users.RefresherCourse

@{
    ViewData["Title"] = "Редактирование";
}

<h2>Редактирование</h2>

<h4>Курс повышения квалификации</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RefresherCourseId" />
            <div class="form-group">
                <label asp-for="RefresherCourseRegNumber" class="control-label"></label>
                <input asp-for="RefresherCourseRegNumber" class="form-control" />
                <span asp-validation-for="RefresherCourseRegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefresherCourseName" class="control-label"></label>
                <input asp-for="RefresherCourseName" class="form-control" />
                <span asp-validation-for="RefresherCourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefresherCourseHours" class="control-label"></label>
                <input asp-for="RefresherCourseHours" class="form-control" />
                <span asp-validation-for="RefresherCourseHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefresherCourseCity" class="control-label"></label>
                <input asp-for="RefresherCourseCity" class="form-control" />
                <span asp-validation-for="RefresherCourseCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefresherCourseInstitition" class="control-label"></label>
                <input asp-for="RefresherCourseInstitition" class="form-control" />
                <span asp-validation-for="RefresherCourseInstitition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefresherCourseDateStart" class="control-label"></label>
                <input asp-for="RefresherCourseDateStart" class="form-control" />
                <span asp-validation-for="RefresherCourseDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefresherCourseDateFinish" class="control-label"></label>
                <input asp-for="RefresherCourseDateFinish" class="form-control" />
                <span asp-validation-for="RefresherCourseDateFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefresherCourseDateIssue" class="control-label"></label>
                <input asp-for="RefresherCourseDateIssue" class="form-control" />
                <span asp-validation-for="RefresherCourseDateIssue" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="RefresherCourseFileId" class="control-label"></label>
                <input asp-for="RefresherCourseFileId" class="hidden" />
                <a href="/@Model.RefresherCourseFile?.Path" class="control-label">@Model.RefresherCourseFile?.FileName</a>
            </div>
            <div class="form-group">
                <label class="control-label">Для замены выберите файл: </label>
                <input type="file" name="uploadedFile" class="form-control" />
            </div>

            <div class="form-group">
                <input type="hidden" name="AppUserId" value="@Model.AppUserId" />
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" asp-route-id="@Model.AppUserId" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>