
@{
    ViewData["Title"] = "Международное сотрудничество";
}

<h2>Международное сотрудничество</h2>

<h3>Информация о заключенных и планируемых к заключению договорах с иностранными и (или) международными организациями по вопросам образования и науки</h3>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">№ п/п</th>
            <th class="text-center">Государство</th>
            <th class="text-center">Наименование организации</th>
            <th class="text-center">Реквизиты договора (наименование, дата, номер, срок действия)</th>
        </tr>
        <tr class="text-center">
            <th class="text-center">1</th>
            <th class="text-center">2</th>
            <th class="text-center">3</th>
            <th class="text-center">4</th>
        </tr>
    </thead>
    <tbody>
        <tr itemprop="internationalDog">
            <td itemprop="stateName" colspan="4">Нет</td>
            <td itemprop="orgName" class="hidden">Нет</td>
            <td itemprop="dogReg" class="hidden">Нет</td>
        </tr>
    </tbody>
</table>


<h3>Информация о международной аккредитации</h3>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">Код</th>
            <th class="text-center">Наименование профессии, специальности, направления подготовки</th>
            <th class="text-center">Наименование аккредитующей организации</th>
            <th class="text-center">Срок действия международной аккредитации (дата окончания действия свидетельства о международной аккредитации)</th>
        </tr>
        <tr class="text-center">
            <th class="text-center">1</th>
            <th class="text-center">2</th>
            <th class="text-center">3</th>
            <th class="text-center">4</th>
        </tr>
    </thead>
    <tbody>
        <tr itemprop="internationalAccr">
            <td itemprop="eduCode" colspan="4">Отсутствует</td>
            <td itemprop="eduName" class="hidden">Отсутствует</td>
            <td itemprop="orgName" class="hidden">Отсутствует</td>
            <td itemprop="dateEnd" class="hidden">Отсутствует</td>
        </tr>
    </tbody>
</table>