
@{
    ViewData["Title"] = "Международное сотрудничество";
}

<h2>Международное сотрудничество</h2>

<h3>Информация о заключенных и планируемых к заключению договорах с иностранными и (или) международными организациями по вопросам образования и науки</h3>

<table itemprop="internationalDog" class="table table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">№</th>
            <th class="text-center">Государство</th>
            <th class="text-center">Наименование организации</th>
            <th class="text-center">Наименование на языке оригинала или английском языке</th>
            <th class="text-center">Тип документа</th>
            <th class="text-center">Дата подписания</th>
            <th class="text-center">Срок действия</th>
        </tr>
        <tr class="text-center">
            <th class="text-center">1</th>
            <th class="text-center">2</th>
            <th class="text-center">3</th>
            <th class="text-center">4</th>
            <th class="text-center">5</th>
            <th class="text-center">6</th>
            <th class="text-center">7</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="7">Нет</td>
        </tr>
    </tbody>
</table>