@{
    ViewData["Title"] = "Материально-техническое обеспечение и оснащенность образовательного процесса";
}

@{
    int NumEbs = (int)ViewData["NumEbs"];
    int NumEbsSobstv = (int)ViewData["NumEbsSobstv"];
    int NumEbsDogovor = (int)ViewData["NumEbsDogovor"];
    int NumEc = (int)ViewData["NumEc"];
    int NumEoisOwn = (int)ViewData["NumEoisOwn"];
    int NumEoisSide = (int)ViewData["NumEoisSide"];
}

<h1>Материально-техническое обеспечение и оснащенность образовательного процесса</h1>

<a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary btn-block">Сведения о доступе к электронной информационно-образовательной среде, информационным системам и информационно-телекоммуникационным сетям </br> и электронным ресурсам, к которым обеспечивается доступ обучающихся</a>
<div class="collapse" id="spoiler-1">
    <div class="well">


        <div class="sp-body folded">
            </p>
            <table itemprop="purposeEios" class="table table-hover">
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                <tr>
                <tr>
                    <td>Наличие в образовательной организации электронной информационно-образовательной среды</td>
                    <td itemprop="purposeEios">Да</td>
                <tr>
                <tr>
                    <td>Общее количество компьютеров с выходом в информационно-телекоммуникационную сеть «Интернет», к которым имеют доступ обучающиеся</td>
                    <td itemprop="purposeInternet">400</td>
                <tr>
                <tr>
                    <td>Общее количество ЭБС, к которым имеют доступ обучающиеся (собственных или на договорной основе)</td>
                    <td itemprop="purposeEbs"><a asp-controller="ElectronBiblSystems" asp-action="Preview">@NumEbs</a>, в том числе</br> @NumEbsSobstv - собственных,</br> @NumEbsDogovor - на договорной основе</td>
                <tr>
                <tr>
                    <td>Наличие собственных электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisOwn"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="true">@NumEoisOwn</a></td>
                <tr>
                <tr>
                    <td>Наличие сторонних электронных образовательных и информационных ресурсов</td>
                    <td itemprop="eoisSide"><a asp-controller="ElectronObrazovatInformRes" asp-action="Preview" asp-route-IsSobstv="false">@NumEoisSide</a></td>
                <tr>
                <tr>
                    <td>Наличие базы данных электронного каталога</td>
                    <td itemprop="bdec"><a asp-controller="ElectronCatalogs" asp-action="Preview">@NumEc</a></td>
                <tr>
            </table>
        </div>
    </div>
</div>