@{
    var ObrazecDogovoraObOkazaniiPlatnihObrazovatelnihUslug = (FileDataType)ViewData["ObrazecDogovoraObOkazaniiPlatnihObrazovatelnihUslug"];
    var DocumentObUtverjdeniiStoimostiObucheniya = (FileDataType)ViewData["DocumentObUtverjdeniiStoimostiObucheniya"];
    var PoryadokOkazaniyaPlatnihObrazovatelnihUslug = (FileDataType)ViewData["PoryadokOkazaniyaPlatnihObrazovatelnihUslug"];

}

<h1>Платные образовательные услуги</h1>

<a href="#spoiler-3" data-toggle="collapse" class="btn btn-primary btn-block">Информация о порядке оказания платных образовательных услуг</a>
<div class="collapse" id="spoiler-3">
    <div class="well">
        @foreach (var ftft in PoryadokOkazaniyaPlatnihObrazovatelnihUslug.FileToFileTypes)
        {
            <p itemprop="paidEdu"><a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
        }
    </div>
</div>

<a href="#spoiler-1" data-toggle="collapse" class="btn btn-primary btn-block">Образец договора об оказании платных образовательных услуг</a>
<div class="collapse" id="spoiler-1">
    <div class="well">
        @foreach (var ftft in ObrazecDogovoraObOkazaniiPlatnihObrazovatelnihUslug.FileToFileTypes)
        {
            <p itemprop="paidDog"><a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
        }
    </div>
</div>

<a href="#spoiler-2" data-toggle="collapse" class="btn btn-primary btn-block">Документы об утверждении стоимости обучения по каждой образовательной программе</a>
<div class="collapse" id="spoiler-2">
    <div class="well">
        @foreach (var ftft in DocumentObUtverjdeniiStoimostiObucheniya.FileToFileTypes)
        {
            <p itemprop="paidSt"><a href="/@ftft.FileModel.Path">@ftft.FileModel.Name</a></p>
        }
    </div>
</div>

<a href="#spoiler-4" data-toggle="collapse" class="btn btn-primary btn-block">
    Документ об установлении размера платы,
    взимаемой с родителей (законных представителей) за присмотр и уход за детьми...
</a>
<div class="collapse" id="spoiler-4" itemprop="docLink">
    <div class="well">
        <h4>
            Документ об установлении размера платы,
            взимаемой с родителей (законных представителей) за присмотр и уход за детьми,
            осваивающими образовательные программы дошкольного образования в организациях,
            осуществляющих образовательную деятельность,
            за содержание детей в образовательной организации,
            реализующей образовательные программы начального общего,
            основного общего или среднего общего образования,
            если в такой образовательной организации созданы условия для проживания обучающихся в интернате,
            либо за осуществление присмотра и ухода за детьми в группах продленного дня в образовательной организации,
            реализующей образовательные программы начального общего, основного общего или среднего общего образования
        </h4>
        <p itemprop="paidParents">
            В образовательной организации не реализуются образовательные программы дошкольного, начального общего, основного общего и среднего общего образования
        </p>
    </div>
</div>
